# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Cache files
*.cache
*.bin

# Rider / VS Code
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.tmp
*Backup*
*.log
